{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.shea_butter' %}
  {% include 'custom_fields.products.activated_charcoal' %}
  {% include 'custom_fields.products.kaolin_clay' %}
  {% include 'custom_fields.products.coconut_milk' %}
  {% include 'custom_fields.products.bentonite_clay' %}
  {% include 'custom_fields.products.cocoa_butter' %}
  {% include 'custom_fields.products.pink_clay' %}
  {% include 'custom_fields.products.green_clay' %}
  {% include 'custom_fields.products.wheat_protein' %}
  {% include 'custom_fields.products.avocado_oil' %}
  {% include 'custom_fields.products.hemp_seed_oil' %}
  {% include 'custom_fields.products.rosemary_oil' %}
  {% include 'custom_fields.products.peppermint_oil' %}
  {% include 'custom_fields.products.vitamin_e_oil' %}
  {% include 'custom_fields.products.coconut_oil' %}
  {% include 'custom_fields.products.lavendar_oil' %}
  {% include 'custom_fields.products.all_ingredients_' %}
</div>